.view-bank {
  .bg-form {
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    h3 {
      color: white;
      font-size: 35px;
      padding-bottom: 15px;
    }
    .edit-button {
      padding: 12px 30px;
      background: #00bc77;
      color: white;
      font-weight: bold;
      border-color: #00bc77;
      margin-bottom: 20px;
    }
    .disabled-button {
      padding: 12px 30px;
      background-color: #9e9e9e;
      color: #000000;
      cursor: not-allowed;
      border-color: #9e9e9e;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .box-transaction {
      display: flex;
      flex-direction: column;

      justify-content: center;
    }

    .edit_form {
      display: flex;
      flex-direction: column;
      gap: 15px;
      label {
        color: white;
        margin-right: 10px;
      }
      #lastName,
      #firstName {
        color: white;
      }
    }
    .transaction {
      margin-bottom: 30px;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    .container-button {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      gap: 10px;
    }
    .success-message {
      color: #00bc77;
      margin-bottom: 10px;
    }
  }
}
