.navigation {
  img {
    height: 55px;
  }
  .login {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: bold;
    .svg-inline--fa {
      color: rgb(78, 78, 78);
    }
    a {
      color: rgb(78, 78, 78);
      text-decoration: none;
      font-weight: 800;
      &:hover {
        text-decoration: underline;
      }
    }
    .div_signOut {
      display: flex;
      align-items: center;
      gap: 5px;
    }
    .whenLogin {
      display: flex;
      gap: 20px;
      .logOut {
        border: none;
        font-weight: bold;
        background: none;
        font-size: 16px;
      }
    }
  }

  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
